{% extends 'base.html' %}

{% block content %}
<form method="post">{% csrf_token %}
    <p>Tem certeza que deseja remover o contato?</p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">SIM</button>
</form>
{% endblock %}