{% extends 'base.html' %}
{% load staticfiles %}
    {% block content %}
        <div class="mt-5">
            <p>
                <a class="btn btn-lg btn-secondary" href="{% url 'index' %}" role="button">
                    <span class="oi oi-media-step-backward"></span> VOLTAR</a>
            </p>
        </div>

        <hr>
        <div class="mt-5">
            <form method="post" action="">{% csrf_token %}
                <div class="row">
                  <!--   <div class="col-md-6 mb-3">
                        <label for="id_name">Name</label>
                        {{form.name.label}}
                        {{form.name}}
                        <input type="text" class="form-control" id="id_name" placeholder="" value="" required>
                    </div>
                    <div class="col-md-6 mb-3"></div>
                    <div class="col-md-6 mb-3">
                        <label for="id_phone">Phone</label>
                        <input type="tel" class="form-control" id="id_phone" placeholder="">
                    </div>
                    <div class="col-md-6 mb-3"></div>
                    <div class="col-md-6 mb-3">
                        <label for="id_email">Email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            <input type="email" class="form-control" id="id_email" placeholder="you@example.com" required>
                            <div class="invalid-feedback" style="width: 100%;">
                                Your username is required.
                            </div>
                        </div> -->
                    {{form.as_p}}
                    </div>
                    <div class="col-md-6 mb-3"></div>

                </div>

                <div class="mt-5">
                    <p>
                        <button class="btn btn-lg btn-primary" type='submit' >
                            <span class="oi oi-check"></span> SUBMIT</a></button>
                    </p>
                </div>
            </form>
        </div>
    {% endblock %}
