{% extends 'base.html' %}

  <!-- Begin page content -->
  {% block content %}

    <div class="mt-5">
      <p>
        <a class="btn btn-lg btn-primary" href="{% url 'register' %}" role="button"><span class="oi oi-plus"></span> NEW CONTACT</a>
      </p>
    </div>

    <hr>

    <div class="mt-5">
    <table id="table-contact" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for contato in contatos %}
        <tr>
          <th scope="row">{{contato.id}}</th>
          <td>{{contato.name}}</td>
          <td>{{contato.phone}}</td>
          <td>{{contato.email}}</td>
          <td>
            <a class="btn btn-sm btn-warning" href="{% url 'edit' pk=contato.pk %}" role="button"><span class="oi oi-pencil"></span></a>
            <a class="btn btn-sm btn-danger" href="{% url 'delete' pk=contato.pk %}" role="button"><span class="oi oi-trash"></span></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}
