{% extends 'base.html' %}

{% block content %}

  <form method="post" class="form-signin" action="index.html">
    <div class="text-center mb-4">
      <img class="mb-4" src="../static/img/list_contact.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Log in to Contact List</h1>
    </div>

    <div class="form-label-group">
      <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autofocus>
      <label for="id_username">Username</label>
    </div>

    <div class="form-label-group">
      <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
      <label for="id_password">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; Imersão 2018 - Fábrica de Software</p>
  </form>
{% endblock %}